.cell:hover {
	stroke: black;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	position: relative;
}
#tooltip {
	position: absolute;
	pointer-events: none;
	opacity: 0;
	z-index: 999;

}
text {
	font-size: 1.25em;
}
